/*Styles reset*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
ul {
	padding-top: 8px;
}
#contentFront, #contentBack {
	margin-top:3em;
	padding: 1em;
	background-color: #ddd;
	border-radius: 20px;
	height:3em;
	box-shadow: 1px 1px 3px black;
}
#contentBack {
	margin-bottom:3em;
}
.replyButtons {
	padding: 7px 10px;
}